@media print
{  
    .header, form-control {
        display: none !important
    }

    @page {
        size: landscape
    }

    .aggre{
        font-size: larger;
    }
    
}

.aggre{
    font-size:medium;
    font-weight:bolder;
}